body{
    background-color: #eee;
}

#over{
    width: 100px;
    height: 100px;
    overflow-x: scroll;
}

img{
    float: right;
    
}
img:hover{
opacity: 0.9;

}

/* Con este selector podemos seleccionar solo el p dentro del div: */
div p{

    color: #f00;
}